<a href="https://colab.research.google.com/github/Amritha-Pradeep/Learn.Py/blob/main/TASK%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [ ]:
#please enter your answer below this line
dict = {'name' : 'Alex Ryder','age' : 28}
dict['age'] = 32
dict['town'] = 'calicut'
print(dict)

{'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [ ]:
#please enter your answer below this line
dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}
print("Initial Dictionary")
print(dict)
del dict[3]
print("Dictionary after removing item 3")
print(dict)
dict.clear()
print("Dictionary after removing all items")
print(dict)

Initial Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 15}
Dictionary after removing item 3
{1: 1, 2: 4, 4: 16, 5: 15}
Dictionary after removing all items
{}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [1]:
#please enter your answer below the line
set = {1, 'hello', (0, 1, 2)}
print(set)
set.add(6)
print(set)

{'hello', 1, (0, 1, 2)}
{'hello', 1, (0, 1, 2), 6}